#add-game-form {
    background: rgb(243, 235, 224);
    display: grid;
    width: 400px;
    min-height: 400px;
    padding: 20px;
    justify-items: center;
    border-radius: 25px;
}

#form-image {
    width: 40%;
    padding: 10px;
}

input {
    display: grid;
    padding-bottom: 20x;
    text-align: left;
    width: 300px;
    padding-top: 20px;
}

form button {
    height: 45px;
    width: 200px;
    background: rgb(178, 178, 203);
    font-weight: bold;
    color: white;
}

#add-image-section {
    padding-left: 30px;
}
