.draw-mode-icon {
    height: 2rem;
    margin-left: -0.2rem;
    margin-top: -0.2rem;
}

#draw-mode,
#erase-mode,
#color-selector {
    height: 3rem;
    width: 3rem;
}

#color-selector {
    padding: 0;
}

#canvas-section {
    margin: 0 auto;
    height: min-content;
    width: min-content;
    padding: 0;
}
