main {
    display: grid;
    justify-content: center;
}
.game-main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    width: 600px;
    margin: auto;
}

.game-summary {
    display: grid;
    background: rgb(239, 239, 239);
    justify-items: center;
}

#game-title {
    align-self: center;
    /* padding-left: 20px; */
}

#game-image {
    width: 200px;
    height: 100%;
    object-fit: contain;
    padding-top: 25px;
    padding-bottom: 15px;
}

#add-guess-form {
    display: grid;
    grid-template-columns: 1fr 100px;
    margin-bottom: 15px;
}

input {
    height: 50px;
}

button {
    height: 50px;
}

#guess-list li {
    background: rgb(232, 232, 232);
    margin-bottom: 15px;
    padding: 5px;
}

#add-guess-section {
    display: grid;
    grid-template-rows: 1fr 200px;
}

#canvas-options {
    width: 556px;
    display: grid;
    justify-self: center;
}

#game-view {
    width: 750px;
    display: grid;
    justify-self: center;
}

.correct-answer {
    color: green;
    font-size: xx-large;
}

#game-buttons {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 20px; */
    max-width: 50%;
    margin: 20px auto 0;
}

#random-word {
    text-align: center;
    padding-top: 25px;
    font-size: larger;
    color: blue;
}

#game-info {
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    color: blue;
}

.game-section {
    padding-top: 1rem;
    height: 80rem;
    width: 80rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
}

.canvas-and-controls {
    height: min-content;
    display: grid;
    justify-content: left;
}
